body
{
	background:black;
	overflow:hidden;
	position:relative;
	margin:0;
	padding:0;
}
.container
{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	margin:0;
	padding:0;
}
.map
{
	display:none;
}
.box
{
	position:absolute;
	z-index:100;
}
.box p
{
	position:relative;
	font-family: 'Quattrocento', serif;
	color: white;
}
.gridsquare
{
	display:block;
	position:absolute;
	visibility:visible;
	z-index:50;
}
.large
{
	font-size:2em;
}
.normal
{
	font-size:1.2em;
}
#box1
{
	left:0;
	top:0;
}
#box2
{
	left:0;
	top:200px;
}
#box3
{
	left:0;
	top:500px;
}